// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

//#TODO:20 Cleanup the SCSS on the Footer. 
footer {
    @include outer-container(100%);
    font-family: $welcome-font;

    height: 10vh;

    .copyright, .social {
        @include span-columns(12);
        text-align: center;

    }

    .social {
        a {
            color: #323232;
            cursor: pointer;

            &:hover {
                color: $blue-jelly;
            }
        }


    }

    .copyright {
        margin-top: 10px;
        a{
            color: $base-font-color;
        }

    }
}
