// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

$link-base-color: #323232;

footer {
  @include outer-container(100%);
  font-family: $welcome-font;
  height: 10vh;

  .copyright,
	.social {
    @include span-columns(12);
    text-align: center;
    }

  .social {
    a {
      color: $link-base-color;
      cursor: pointer;
    }

    a:hover {
      color: $blue-jelly;
    }

    }

  .copyright {
    margin-top: 10px;

    a {
      color: $base-font-color;
    }

    }
}
