nav {
    width: 100%;
    height: $navigation-height;
    position: fixed;
    display: block;

    //The Square for the Hamburger Menu Selector.
    #menu-button {
        float: right;
        margin-right: 30px;
        margin-top: 30px;
    }
}
