@import "../../variables.css";

.face {
  height: 100%;
  width: 100%;
}

.unlinkedFace {
  height: 100%;
  width: 100%;
  fill: $face-color;
}

.unlinkedFace:hover {
  fill: $face-hover-color;
  cursor: pointer;
}

.hair,
.glasses,
.beard,
.bowtie {
  fill: $face-color;
}

.hair:hover,
.beard:hover,
.bowtie:hover,
.glasses:hover {
  fill: $face-hover-color;
}

/* This is for accessibility. On tab focus of links, we still show that that element as if it were hovered. */
.bowtieLink:focus .bowtie {
  fill: $face-hover-color;
}

.hairLink:focus .hair {
  fill: $face-hover-color;
}

.beardLink:focus .beard {
  fill: $face-hover-color;
}

.glassesLink:focus .glasses {
  fill: $face-hover-color;
}
