@import "../../variables.css";

.wrapper {
  min-height: 95vh;
  overflow-y: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3em;
  margin-top: 25vh;
  width: 50%;
  text-align: center;
}

.socialLink {
  color: $face-color;
  cursor: pointer;
}

@media only screen and (min-width: $medium-screen) {
  .socialLink {
    padding: 5px;
  }
}

.pgp {
  font-size: 0.7em;
}

.socialLink:visited {
  color: $face-color;
  cursor: pointer;
}

.socialLink:hover {
  color: $social-link-hover;
}

.social {
  z-index: 1;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
