{
  "sourceMaps": true,
  "presets": [
    [
      "es2015",
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    [
      "react-intl", {
        "messagesDir": "./build/messages",
        "enforceDescriptions": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "transform-es2015-modules-commonjs"
      ]
    },
    "development": {
      "presets": [
        "react-hmre",
        "react-hot-loader/babel",
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}
