seankilgarriff.com {

	proxy / seankilgarriff.com:80 {

		proxy_header Host {host}
		proxy_header X-Real-IP {remote}
		proxy_header X-Forwarded-Proto {scheme}

	}

	header / {

		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
		X-XSS-Protection "1; mode=block"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Content-Security-Policy "default-src 'none';
             script-src 'self' https://www.google-analytics.com/ https://ajax.googleapis.com/;
             img-src 'self' https://www.google-analytics.com/;
             style-src 'self' https://maxcdn.bootstrapcdn.com/ https://fonts.googleapis.com;
             font-src 'self' https://fonts.googleapis.com;
             frame-src 'self';
             upgrade-insecure-requests; block-all-mixed-content;
             reflected-xss block; referrer no-referrer-when-downgrade;
             frame-ancestors 'none'; form-action 'none';
             base-uri seankilgarriff.com www.seankilgarriff.com;"

	}

	gzip

	tls sean@zzrot.com
}

www.seankilgarriff.com {
	redir https://seankilgarriff.com
}

casualmastery.com {
			proxy / casualmastery.com:2368 {
				proxy_header Host {host}
				proxy_header X-Real-IP {remote}
				proxy_header X-Forwarded-Proto {scheme}
			}

			header / {
				X-Frame-Options DENY
				X-Content-Type-Options nosniff
				X-XSS-Protection "1; mode=block"
				Strict-Transport-Security "max-age=7776000; includeSubDomains"
			}

			gzip

			tls sean@zzrot.com
}

www.casualmastery.com {
	redir https://casualmastery.com
}
