.scroll-icon,
.scroll-icon:before {
    position: absolute;
    left: 50%;
 }

.scroll-icon {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px $dark-gray;
  border-radius: 25px;

 }

.scroll-icon:before {
  content: '';
  width: 6px;
  height: 6px;
  background: $dark-gray;
  margin-left: -3px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
 }

@keyframes scroll {
  0% {
    opacity: 1;
}
  100% {
    opacity: 0;
    transform: translateY(25px);
}
}
