@import "../../variables.css";

.wrapper {
  min-height: 95vh;
  overflow-y: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3em;
  margin-top: 5vh;
  width: 50%;
  text-align: center;
}

.github {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: $medium-screen) {
  .github {
    flex-direction: row;
  }
}

.logoContainer {
  height: 50vh;
  width: 50vw;
}

.faceWrapper {
  height: 100%;
  width: 100%;
}

.demoFace {
  stroke: $face-color;
  stroke-width: 2;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation-play-state: running;
  animation: offset 10s linear forwards infinite;
}

.paused {
  animation-play-state: paused;
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
