/* Overall Formatting/Styling */
body{
  background:#fff;
}

.headline {
    text-align:center;
}

.right-half {
    text-align: center;
}

.info {
    text-align: center;
}

/*All Calculator Styles*/
#calculator{
  width:300px;
  background:#505050;
  margin:10px auto;
  font-family:Arial;
  overflow:hidden;
}

.screen{
  height:70px;
  width:95%;
  color:#F0F0F0;
  font-size:50px;
  line-height:70px;
  text-align:right;
  overflow:hidden;
  padding:5px;


}


#keypad li{
  list-style-type:none;
  width:25%;
  height:70px;
  background:#E0E0E0 ;
  float:left;
  text-align:center;
  line-height:70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
   box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px solid #000000;

}
#keypad .extend{
  width:50%;

}
#keypad .symbol{
  background:#fba01f;
  color:white;
  font-size:30px;
  border-right:none;
}
#keypad .symbolTop{
  background:#B8B8B8;
  color:white;
  font-size:30px;
}
.active{

   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;

}
