.face {
  height: 90%;
  width: 90%;
}

.hair:hover {
  cursor: pointer;
  fill: #bdc3c7;
}

.glasses:hover {
  cursor: pointer;
  fill: #bdc3c7;
}

.beard:hover {
  cursor: pointer;
  fill: #bdc3c7;
}

.bowtie:hover {
  cursor: pointer;
  fill: #bdc3c7;
}
