@charset "UTF-8";

@import 'vendor/normalize';

@import 'bourbon';

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';

@import 'base/base';

@import 'neat';

/* Layout-related sections */

@import 'layout/header';
@import 'layout/footer';

/* Components */
@import 'components/buttons';

/* Page-specific styles */
@import
  'pages/home';
