.wrapper {
  min-height: 95vh;
  overflow-y: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3em;
  margin-top: 25vh;
  width: 50%;
  text-align: center;
}
