<!-- Place this data between the <head> tags of your website -->
<title>Part-time Ninja | Sean Kilgarriff</title>
<meta name="description" content="Sean Kilgarriff: Entrepreneur, designer, developer, constant student of life. Always looking to teach and to be taught.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Sean Kilgarriff">
<meta itemprop="description" content="Sean Kilgarriff: Entrepreneur, designer, developer, constant student of life. Always looking to teach and to be taught.">
<meta itemprop="image" content="https://www.seankilgarriff.com/SKlogo.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@seankilgarriff">
<meta name="twitter:title" content="Sean Kilgarriff">
<meta name="twitter:description" content="Sean Kilgarriff: Entrepreneur, designer, developer, constant student of life. Always looking to teach and to be taught.">
<meta name="twitter:creator" content="@seankilgarriff">
<meta name="twitter:image:src" content="https://www.seankilgarriff.com/SKlogo.png">

<!-- Open Graph data -->
<meta property="og:title" content="Sean Kilgarriff" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.seankilgarriff.com" />
<meta property="og:image" content="https://www.seankilgarriff.com/SKlogo.png" />
<meta property="og:description" content="Sean Kilgarriff: Entrepreneur, designer, developer, constant student of life. Always looking to teach and to be taught." />
<meta property="og:site_name" content="Sean Kilgarriff" />
