// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

//TODO: Clean up the home.scss
.landing-page {
    @include outer-container(100%);
    //Make this span the entire page.
    height: 90vh;
    //Center the typed text.
    text-align:center;
    font-family: $welcome-font;
    font-size: 2em;

    .welcome, .logoRow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logoRow {
        margin-top: -50px;
				display: none;
    }


    #logo {
        height:80vh;
        width:80vw;
    }

    #hair:hover {
        fill: $face-color;
				cursor: pointer;
    }
    #glasses:hover {
        fill: $face-color;
				cursor: pointer;
    }
    #beard:hover {
        fill: $face-color;
				cursor: pointer;
    }

    //Scale up the font for bigger screens.
    @include media($medium-screen) {
      font-size: 3em;
    }
}

.footer {
	display:none;
}
