// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------



//Page specific Fonts
$welcome-font: 'Josefin Slab', serif;
//Welcome Container for the front page. Should take up 100%

//Time delay for Animation
.delayed {
    animation-duration: 1.5s;
    animation-delay: 6s;
}

.delayed-logo {
    animation-duration: 3s;
    animation-delay: 10s;
}


.landing-page {
    @include outer-container(100%);
    //Make this span the entire page.
    height: 90vh;
    //Center the typed text.
    text-align:center;
    font-family: $welcome-font;
    font-size: 2em;

    .welcome, .logoRow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    #logo {
        height:80vh;
        width:80vw;
    }

    .hair:hover {
        fill: black;
    }
    .glasses:hover {
        fill: black;
        cursor: pointer;
    }
    .beard:hover {
        fill: black;
    }

    //Scale up the font for bigger screens.
    @include media($medium-screen) {
      font-size: 3em;
    }


}

footer {
    @include outer-container(100%);
    font-family: $welcome-font;

    height: 10vh;

    .copyright, .social {
        @include span-columns(12);
        text-align: center;

        @include media($medium-screen) {
            @include span-columns(6);
        }
    }

    .social {
        float: right;

        a {
            color: #323232;

            &:hover {
                color: green;
            }
        }


    }

    .copyright {
        margin-top: 10px;
    }
}

//This is used to make the svgs clickable. Should put this somewhere into the base.
a {
  position: relative;
  display: inline-block;
}
a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
