@import "normalize.css";

body {
  line-height: 1;
  color: #292B31;
  font-family: 'Josefin Slab', serif;
  font-size: 100%;
  overflow-y:hidden;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.container {
  min-height: 100vh;
  width: 100vw;
}
