/*Normalize to reset all css*/
@import "normalize.css";

/* Import Variables */
@import "./variables.css";

$welcome-font: 'Josefin Slab', serif;

body {
  line-height: 1;
  color: #292B31;
  font-family: $welcome-font;
  font-size: 100%;
  overflow-y:hidden;
  line-height: $base-line-height;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.container {
  min-height: 100vh;
  width: 100vw;
}

.content {
  width: 100%;
  height: 95vh;
}

.footer {
  width: 100%;
  height: 5vh;
}
