$medium-screen: 600px;
$large-screen: 900px;

$face-color: #323232;
$face-hover-color: #bdc3c7;

/*// Typography*/
/*$base-font-family: $helvetica;
$heading-font-family: $base-font-family;
$code-font-family: $monospace;*/
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Roboto Slab', serif;
$logo-font: 'Lato';
$welcome-font: 'Josefin Slab', serif;

/*// Font Sizes*/
$base-font-size: 1em;

/*// Line height*/
$base-line-height: 1.5;

$heading-line-height: 1.2;

/*// Other Sizes*/
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

/*// Colors*/
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$faded-black: rgba(#000, 0.06);

/*//Front Page Colors*/
$blue-jelly: #2574a9;

/*// Font Colors*/
$base-font-color: $dark-gray;
$action-color: $blue;

/*// Border*/
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

/*// Background Colors*/
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);


/*// Animations*/
$base-duration: 150ms;
$base-timing: ease;
