@import "../variables.css";

.face {
  height: 100%;
  width: 100%;
}

.hair, .glasses, .beard, .bowtie {
  fill: $face-color;
}

.hair:hover, .beard:hover, .bowtie:hover  {
  fill: $face-hover-color;
}
