.footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  font-size: 0.8em;
  width: 45vw;
}


@media screen and (min-width: 600px) {
  .copyright {
    font-size: 1em;
  }
}
