.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 0.8em;
}

.social {
  font-size: 0.8em;
}

@media screen and (min-width: 600px) {
  .copyright {
    margin-top: 10px;
    font-size: 1em;
  }

  .social {
    font-size: 1em;
  }
}

.pgp {
  margin-left: 20px;
}

.socialLink {
    color: #323232;
    cursor: pointer;
}

.socialLink:hover {
  color: #2574a9;
}
